<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.galonapps"
          tools:ignore="CoarseFineLocation">
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
            android:requestLegacyExternalStorage="true"
            android:allowBackup="true"
            android:name=".App"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.GalonApps"
            android:usesCleartextTraffic="true"
            tools:targetApi="m">
        <activity
                android:name=".ui.pelanggan.transaksi.BayarActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.pelanggan.transaksi.AlamatActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.login.RegisterActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.login.LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.kurir.maps.MapsActivity"
                android:exported="false">
        </activity>
        <activity
                android:name=".ui.kurir.DetailOrderKurirActivity"
                android:exported="false">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".ui.kurir.KurirActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.pelanggan.order.OrderDetailActivity"
                android:exported="false"/>
        <activity
                android:name=".ui.pelanggan.transaksi.TransaksiActivity"
                android:exported="false">
        </activity>
        <activity
                android:name=".ui.pelanggan.PelangganActivity"
                android:exported="false">
        </activity>
        <activity
                android:name=".ui.main.MainActivity"
                android:exported="false">
        </activity>
    </application>

</manifest>
